@charset "UTF-8";

@import "reset.css";

#container {
	display: grid;
	grid-template-rows: 1fr 8fr 1fr;
}

.mainMenu{
    display: flex;
    justify-content: space-between;
}

.rightMenu{
    display: flex;
}

.rightMenu div{
	margin: 1em;
}